---
import ListLayout from '../../layouts/ListLayout.astro';
import BlogPostListItem from '../../components/BlogPostListItem.astro';
import BlogPostEmpty from '../../components/BlogPostEmpty.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const entries = await getCollection('posts');
  return [
    { params: { topic: 'arte' }, props: { posts: entries } },
    { params: { topic: 'viajes' }, props: { posts: entries } },
    { params: { topic: 'disney' }, props: { posts: entries } },
  ];
}

const { topic } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => {
  return post.data.topic === topic;
});
---

<ListLayout title={`Posts sobre ${topic}`} topic={topic}>
  <section
    class="max-w-lg lg:max-w-full mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 pt-4"
  >
    {
      !filteredPosts || !filteredPosts.length ? (
        <BlogPostEmpty />
      ) : (
        filteredPosts.map((post) => {
          return <BlogPostListItem post={post} />;
        })
      )
    }
  </section>
</ListLayout>
