---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostListItem from '../../components/BlogPostListItem.astro';

import { getPostsOrderedByDate } from '../../services/posts';

const posts = await getPostsOrderedByDate();
---

<BaseLayout pageTitle="Todos los posts">
  <h1 class="text-2xl lg:text-4xl font-bold mb-6">Todos los posts</h1>
  <section
    class="max-w-lg lg:max-w-full mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 pt-4"
  >
    {
      posts.map((post) => {
        return <BlogPostListItem post={post} />;
      })
    }
  </section>
</BaseLayout>
