---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="Posts">
  <section
    class="h-full flex flex-col items-center justify-center gap-y-4 max-w-xl mx-auto"
  >
    <p>
      Vaya, no hemos encontrado lo que buscas por aquí, pero puedes encontrar un
      montón de posts interesantes clicando en el botón.
    </p>
    <a
      href="/"
      class="border-2 border-black rounded p-3 hover:scale-105 transition-transform duration-150"
      >Ir a ver posts interesantes</a
    >
  </section>
</BaseLayout>
