---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPostListItem from '../components/BlogPostListItem.astro';

import { getPostsOrderedByDate } from '../services/posts';

const posts = await getPostsOrderedByDate();
const filteredPosts = posts.slice(0, 3);
---

<BaseLayout
  pageTitle="Para que veas el arte con otros ojos"
  pageDescription="La menina perdida es un proyecto artístico único que te invita a ver el arte desde una nueva perspectiva. Explora paisajes sublimes, retratos evocadores y obras maestras. Mantente al día con las últimas publicaciones y sumérgete en un mundo de creatividad y belleza visual."
>
  <section
    class="py-12 lg:py-32 gap-y-16 text-4xl max-w-md leading-tight font-serif [text-wrap]:[balance] tracking-tight text-pearl-900"
  >
    <h1 class="inline">La menina perdida</h1>
    <p class="inline">
      es mi proyecto personal. Para que veas el <span class="text-gold-700"
        >arte</span
      > con otros ojos
    </p>
  </section>
  <section
    class="flex flex-col w-full border-b border-t border-slate-300 py-6 gap-y-8"
  >
    <h2 class="text-2xl lg:text-3xl font-bold text-pearl-900">Últimos posts</h2>
    <article class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      {
        filteredPosts.map((post) => {
          return <BlogPostListItem post={post} />;
        })
      }
    </article>
    <a
      href="/posts"
      title="Ver todos los posts"
      class="rounded w-max transition-color duration-150 ease-in-out px-3 py-2 flex items-center gap-x-2 bg-pearl-900 text-white text-sm self-center hover:bg-opacity-90"
    >
      <span>Ver todos los posts</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
      </svg>
    </a>
  </section>
</BaseLayout>

<script></script>
