<style>
  .background-secondary-radial {
    background-image: radial-gradient(
      circle,
      #8c7851 0,
      rgba(161, 252, 70, 0) 71%
    );
  }
</style>
<div
  aria-hidden="true"
  class="absolute z-0 inset-0 overflow-hidden pointer-events-none"
>
  <div
    class="absolute rounded-full opacity-40 top-0 scale-150 background-secondary-radial w-80 h-80 left-10"
  >
  </div>
</div>
