---
---

<section class="max-w-xl mx-auto w-full flex flex-col gap-y-8">
  <p class="text-center">
    Todavía no hay posts publicados en esta sección. Pronto encontrarás aquí
    material que seguro te encantará.
  </p>
</section>
