---
import TimesIcon from '../components/TimesIcon.astro';
---

<aside
  id="sideMenu"
  class="fixed inset-0 z-10 bg-background h-full w-full flex-col items-center justify-center overflow-hidden"
  style="display: none;"
>
  <TimesIcon />
  <nav id="sideMenuLinksList" class="flex flex-col gap-y-6 font-bold text-lg">
    <a href="/topic/arte" class="hover:underline">Arte</a>
    <a href="/topic/viajes" class="hover:underline">Viajes</a>
    <a href="/topic/disney" class="hover:underline">Disney</a>
  </nav>
</aside>

<script>
  const listOfLinks = [...document.querySelectorAll('#sideMenuLinksList a')];
  const sideMenu = document.querySelector('#sideMenu') as HTMLElement;
  const bodyContainer = document.querySelector('body') as HTMLElement;

  listOfLinks.forEach((link) =>
    link.addEventListener('click', () => {
      sideMenu.style.display = 'none';
      bodyContainer.style.overflowY = null;
    })
  );
</script>
