---

---

<footer
  class="py-4 flex flex-col items-center justify-center mt-auto gap-y-3 text-pearl-900"
>
  <p>Puedes seguirme en redes sociales:</p>
  <div class="flex items-center justify-center mt-auto gap-x-3">
    <a href="https://instagram.com/lameninaperdida" class="hover:underline"
      >Instagram</a
    >
    <a href="https://twitter.com/lameninaperdida" class="hover:underline"
      >Twitter</a
    >
  </div>
</footer>
