---

---

<footer class="py-4 flex items-center justify-center mt-auto gap-x-3">
  <a href="https://instagram.com/lameninaperdida" class="hover:underline">Instagram</a>
  <a href="https://twitter.com/lameninaperdida" class="hover:underline">Twitter</a>
</footer>