---

---

<footer
  class="py-4 flex flex-col items-center justify-center mt-auto gap-y-3 text-pearl-900"
>
  <p>Puedes seguirme en redes sociales:</p>
  <div class="flex items-center justify-center mt-auto gap-x-3">
    <a
      href="https://instagram.com/lameninaperdida"
      title="Ir al perfil Instagram de La menina perdida"
      class="hover:underline"
      target="_blank"
      rel=" noreferrer">Instagram</a
    >
    <a
      href="https://twitter.com/lameninaperdida"
      title="Ir al perfil de X de La menina perdida"
      class="hover:underline"
      target="_blank"
      rel=" noreferrer">X</a
    >
  </div>
</footer>
