---
import HamburguerIcon from './HamburguerIcon.astro';
---

<header class="px-4 py-6 max-w-6xl mx-auto w-full flex justify-between">
  <a href="/" class="text-lg font-bold">La menina perdida</a>
  <nav class="gap-x-6 hidden lg:flex">
    <a href="/topic/arte" class="hover:underline">Arte</a>
    <a href="/topic/viajes" class="hover:underline">Viajes</a>
    <a href="/topic/disney" class="hover:underline">Disney</a>
  </nav>
  <HamburguerIcon />
</header>
