---
import HamburguerIcon from './HamburguerIcon.astro';
---

<header
  id="navigationBar"
  class="fixed top-0 left-0 right-0 backdrop-blur bg-opacity-75 bg-background z-10 shadow-sm text-pearl-900"
>
  <div class="px-4 lg:px-0 py-6 max-w-4xl mx-auto w-full flex justify-between">
    <a
      id="navigationBarTitle"
      href="/"
      title="Ir a la página principal"
      class="text-lg font-bold transition-opacity duration-200"
      >La menina perdida</a
    >
    <nav class="gap-x-6 hidden lg:flex">
      <a href="/posts" title="Ir a todos los posts" class="hover:underline"
        >Posts</a
      >
    </nav>
    <HamburguerIcon />
  </div>
</header>
