---
import TheNavigationBar from '../components/TheNavigationBar.astro';
import TheFooter from '../components/TheFooter.astro';
import SideMenu from '../components/SideMenu.astro';

// Supports weights 400-700
import '@fontsource-variable/lora';
import '@fontsource/geist-sans/400.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/700.css';

const { pageTitle } = Astro.props;
---

<html lang="en" class="min-h-screen">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="flex flex-col min-h-screen text-lg font-dm-sans relative bg-background"
  >
    <TheNavigationBar />
    <main class="px-4 lg:px-0 max-w-4xl mx-auto w-full mb-16 mt-24">
      <!-- <h1 class="text-4xl font-serif font-bold">{pageTitle}</h1> -->
      <slot />
    </main>
    <SideMenu />
    <TheFooter />
  </body>
</html>
