---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <h1>{frontmatter.title}</h1>
  <p>Written by {frontmatter.author}</p>
  <p>{frontmatter.pubDate.slice(0, 10)}</p>
  {
    frontmatter.tags.map((tag) => (
      <li>
        <a
          class="text-blue-600 visited:text-violet-600 hover:underline"
          href={`/tag/${tag}`}
        >
          {tag}
        </a>
      </li>
    ))
  }
  <slot />
</BaseLayout>
